body{
    height: 100vh;
    font-family: 'Zain';
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#hero, #tree, .links,
.buttons .button .a{
    display: flex;
    justify-content: center;
    align-items: center;
}
